.displayContainer {
  width: 600px;
  height: 90px;
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px;

}

.upperWrapper {
  display: flex;
  justify-content: flex-end;
  color: #7d7d7d
}

.bottomWrapper {
  font-size: 38px;
  font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}